<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Risk Tolerance</title>
    <link rel="stylesheet" href="/style/style.css">

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/highcharts.js"></script>
    <script type="text/javascript" src="/scripts/exporting.js"></script>
   <!--<script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/scripts/linechart.js"></script>
    <!--<script type="text/javascript" src="/scripts/piechart.js"></script>-->
    <script type="text/javascript" src="/scripts/linechart2.js"></script>
    <script type="text/javascript" src="/scripts/piechart.js"></script>


</head>



<body>


<ul class="nav nav-tabs nav-justified">
    <li role="presentation"><a href="#">Personal Information</a></li>
    <li role="presentation" class="active"><a href="#">Investment Information</a></li>
    <li role="presentation"><a href="#">Financial Planing</a></li>
    <li role="presentation" class="active" ><a href="/Dashboard.html">Dashboard</a></li>
</ul>
<ul class="nav nav-pills nav-justified">
    <li role="presentation"><a href="#">Investment Goals</a></li>
    <li role="presentation" class="active"><a href="#">Risk Tolerance</a></li>
    <li role="presentation"><a href="#">Existing Investments</a></li>
    <li role="presentation" ><a href="result.html">Result Analysis</a></li>
</ul>
<div class="col-xs-12 spacer">
    <h2>Adjust your Risk Tolerance</h2>

</div>
<div class=" col-md-3 spacer chart" id="piechart"></div>

<div class="col-md-3 spacer chart" id="linechart"></div>

<div class="col-md-3 spacer chart" id="piechart2"></div>

<div class= "col-md-3 spacer chart" id="linechart2"></div>



<footer class="col-xs-12 footer">

    <ul>
        <li><a href="#">BACK</a></li>
    </ul>

</footer>

</body>
</html>
